body {
	font-family: Consolas;
	font-size: 18px;
	color: #02475e;
	background: #fefecc;
	text-align: center;
	/* padding: 2em 1em; */
	position: absolute;
	
	/* border: 10px #ccc; */
	width: 800px;
	height: 600px;
	/* margin: auto; */
}
		
h1 {
	color: #f6470a;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.7em;
}
		
p { 
	margin: 0.7em 0;
}
		
input.text {
	background-color: #fff;
	color: #555;
	border: 2px #999;
	padding: 5px;
	tab-index: auto;
	cursor: text;
	box-sizing: border-box;
	width: 200px;
	font-size: 0.9em;
}
/* 
#div1 {
	position: absolute;
	width: 128px;
	height: 128px;
	top: 0px;
	left: 16px;
	background-color: red;
} */

#img1 {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 128px;
	left: 0px;
}
#img2 {
	position: absolute;
	width: 256px;
	height: 256px;
	top: 64px;
	left: 64px;
}
#video {
	position: absolute;
	width: 256px;
	height: 256px;
	top: 32px;
	left: 32px;
	/* background-color: red; */
}
